@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    margin: 30px 100px;
}

*{
    margin:5px 5px;
    padding:0;
    font-family: 'Inter', sans-serif;
}

.navlink::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom:-4px;
    border:3px solid #f15e50;
    width: 70px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.4s;
}
.navlink:hover::before{
    scale: 1;
}
.margindrop{
    margin-bottom: 30px;
    padding-top: 0px;
}
@media screen and (max-width:1060px) {

    #root{
        margin: 5px;
    }
    
}
@media screen and (max-width:1400px) {
    #root{
        margin: 30px;
    }
    
}


